.title {
    text-align: center;
    background-color: pink;
    padding: 2px;
    padding-top: 10px;
}

.title h1 {
    font-size: 30px;
}

.bicycle-container {
    width: 100%;
    height: 20%;
    margin-left: 10%;
}

.bicycle {
    transform: scale(1.8);
}

.option-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    font-size: 16px;
    align-items:center;
}

.start-container select , .end-container select{
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    margin-top : 20px;
}

.visual-button {
    border:0;
    padding: 15px 40px;
    border-radius: 10px;
    border:0;
    font-size: 18px;   
    margin-top: 30px;
}

.result-text{
    margin-top: 40px;
    font-size: 22px;
    color: red;
}

.distance-text {
    font-size: 18px;
}

.main-container {
    display: flex;
}

#graph-container {
    margin-left:50px;
    height: 500px ;
    width: 60%;
}

@media only screen and (max-width: 726px) {
    .main-container {
        flex-direction: column;
    }
    #graph-container {
        margin-left:0 !important;
        width: 100% !important;

    }
    .option-container {
        text-align :center;
        width: 100%;
    }
}